
#container div {
    width: 15px;
    display: inline-block;
    float: left;
}

.numberButton {
    width: 100px;
    height: 100px;
    background-color: aqua;
    margin-right: 10px;
    display: inline-block;
    float: left;
}

.random {
    height: 50px;
    width: 100px;
    background-color: cornflowerblue;
}